@charset "UTF-8";

/* 回答はここに書いてね */
.surround {
  background-color: #eff3f4;
  box-sizing: border-box;
  padding: 20px;
}

.img1 {
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
}

.img2 {
  margin-left: 20px;
  margin-bottom: 10px;
  float: right;
}

.writings {
  font-size: 18px;
  line-height: 22px;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
}

.wrapper {
  margin: 0 auto;
  width: 940px;
}
/* 回答はここに書いてね */
