@charset "UTF-8";

/* 回答はここに書いてね */
.common {
  background-color: #00bcd4;
  color: #fff;
  cursor: pointer;
}

.error {
  background-color: #ff4081;
  color: #fff;
  cursor: pointer;
}

.disabled {
  background-color: #e5e5e5;
  color: #fff;
  cursor: default;
}

.shadow {
  background-color: #fff;
  color: #222;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .12), 0 1px 4px rgba(0, 0, 0, .12);
  cursor: pointer;
}

.small {
  border-radius: 3px;
  font-size: 16px;
  padding: 0 15px;
  border-style: none;
  display: inline-block;
  margin-left: 10px;
  outline: none;
  line-height: 26px;
}

.middle {
  border-radius: 5px;
  font-size: 20px;
  padding: 0 20px;
  border-style: none;
  display: inline-block;
  margin-left: 10px;
  outline: none;
  line-height: 32px;
}

.large {
  border-radius: 7px;
  font-size: 24px;
  padding: 0 25px;
  border-style: none;
  display: inline-block;
  margin-left: 10px;
  outline: none;
  line-height: 38px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.wapper {
  width: 700px;
  background-color: #ECF1F2;
  padding: 20px;
  margin: 0 auto;
  height: 330px;
}

.titletext {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding-right: 10px;
  background-color: #ECF1F2;
}

.waptitle::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  content: "";
}

.waptitle {
  position: relative;
  text-align: left;
  margin-bottom: 20px;
}

.note {
  color: #F00;
}

.form-text {
  float: left;
  width: 100px;
  line-height: 25px;
  text-align: right;
}

.inputs {
  width: 180px;
  padding: 5px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  box-sizing: border-box;
  border: none;
  float: right;
}

.contener {
  width: 180px;
  float: right;
}

.radiolabel {
  cursor: pointer;
  float: left;
}

.genderbox {
  display: none;
}

.radiotext  {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}

.radiotext::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background-color: #FFF;
  border: 1px solid #ccc;
  border-radius: 50%;
  content: '';
}

.genderbox:checked + .radiotext::after {
  position: absolute;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background-color: #00BCD4;
  border-radius: 50%;
  content: '';
}

.contener {
  widows: 180px;
  float: right;
}

.graduater {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
}

.selectber .graduater {
  -webkit-appearance: none;
  -moz-apperance: none;
  appearance: none;
}

.selectber {}

.margin {
  margin-top: 20px;
}

.margin:first-child {
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.checkboxtext {
  position: relative;
  display: inline-block;
  padding-left: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkboxtext::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: -9px;
  background-color: #FFF;
  border: 1px solid #ccc;
  content: '';
}

.checkboxs:checked + .checkboxtext::after {
  position: absolute;
  top: 50%;
  left: 6px;
  width: 8px;
  height: 16px;
  margin-top: -14px;
  border-right: 3px solid #00BCD4;
  border-bottom: 3px solid #00BCD4;
  content: '';
  transform: rotate(45deg);
}

.checkboxs {
  display: none;
}

.submits {
  background-color: #00BCD4;
  color: #FFF;
  padding: 0 10px;
  font-size: 16px;
  border-radius: 5px;
  line-height: 26px;
  cursor: pointer;
  border: none;
}

.align {
  text-align: right;
}

.surround {
  width: 300px;
  float: left;
}

.textareabox {
  float: right;
  width: 380px;
}

textarea {
  width: 100%;
  height: 203px;
  padding: 10px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  box-sizing: border-box;
  resize: none;
  border: none;
}

/* 回答はここに書いてね */
